@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  padding: 0 40px !important;
}

.dropdown-toggle::after {
  vertical-align: 0.155em !important;
}

.dropdown .search {
  margin-right: 15px;
}

nav .container-fluid {
  padding: 0 !important;
}

.lastNews p {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
}

header {
  display: flex;
}

header .drop {
  margin-right: 10px;
}

header .drop .link,
header .drop .link2 {
  position: relative;
  text-decoration: none;
  padding: 7px 21px;
  background: #f5f5f5;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 1px;
  cursor: pointer;
}

header .drop .link::after,
header .drop .link2::after {
  display: inline-block;
  margin-left: 2.355em;
  vertical-align: 0.155em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

header .drop ul {
  position: absolute;
  padding: 5px;
  margin: 10px 0 0 0;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(47, 137, 250, 0.08), 0px 3px 20px rgba(26, 70, 125, 0.1);
  border-radius: 4px;
}

header .drop ul li {
  list-style: none;
  padding: 5px 80px 5px 10px;
  margin: 1px 0;
}

header .drop ul li:hover {
  background: #edf5ff;
}

header .drop ul li a {
  text-decoration: none;
}

main .row .col-md-3 {
  margin-bottom: 25px;
}

main .row .col-md-3 .item {
  background-image: url("../images/pr.png");
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 60%;
  border-radius: 5px;
}

main .row .col-md-3 .item span {
  display: flex;
}

main .row .col-md-3 .item span div {
  color: red;
  display: flex;
  align-items: center;
}

main .row .col-md-3 .item span div img {
  width: 16px;
  height: 16px;
  margin: 0 7px;
}

main .row .col-md-3 .item span div p {
  margin: 0;
  color: #fff;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

main .row .col-md-3 .item span .eye {
  border-left: 1px solid white;
  margin-left: 10px;
}

main .row .col-md-3 .item span .eye img {
  width: 20px;
  height: 20px;
}

main .row .col-md-3 .item p {
  color: #fff;
  padding: 0 7px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

section .row .leftItem {
  background: url("../images/leftItem.png") center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 70%;
  border-radius: 5px;
}

section .row .leftItem p {
  color: #fff;
  padding: 0 7px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

section .row .rightItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section .row .rightItem .row .rightOneBg,
section .row .rightItem .row .rightSecondBg {
  background: url("../images/right1.png") center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 60%;
  border-radius: 5px;
}

section .row .rightItem .row .rightSecondBg {
  background: url("../images/right2.png") center;
  background-size: cover;
}

section .row .rightItem .row .col-md-8 {
  padding: 0 30px 0 0 !important;
}

section .row .rightItem .row .col-md-8 .rightOneContent {
  height: 100%;
}

section .row .rightItem .row .col-md-8 .rightOneContent .timeview div p {
  color: #8f8f8f;
}

section .row .rightItem .row .col-md-8 .rightOneContent .timeview .eye {
  border-left: 1px solid #8f8f8f;
}

section .row .rightItem .row .col-md-8 .rightOneContent .timeview .calendar img {
  margin-left: 0;
}

section .row .rightItem .row .col-md-8 .rightOneContent h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #00264d;
}

section .row .rightItem .row .col-md-8 .rightOneContent p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  letter-spacing: 0.1px;
  color: #212121;
  margin: 0;
}

.timeview {
  display: flex;
}

.timeview div {
  color: black;
  display: flex;
  align-items: center;
}

.timeview div img {
  width: 16px;
  height: 16px;
  margin: 0 7px;
}

.timeview div p {
  margin: 0;
  color: #fff;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.timeview .eye {
  border-left: 1px solid white;
  margin-left: 10px;
}

.timeview .eye img {
  width: 20px;
  height: 20px;
}

.dropdown .search {
  position: relative;
}

.dropdown .search input {
  position: absolute;
  top: -5px;
  right: 30px;
  width: 280px;
}

.dropdown .search::hover input {
  display: none;
}

.pages {
  position: relative;
}

.pages .person {
  cursor: pointer;
}

.pages .listlar {
  position: absolute;
  padding: 5px;
  margin: 5px 0 0 0;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(47, 137, 250, 0.08), 0px 3px 20px rgba(26, 70, 125, 0.1);
  border-radius: 4px;
}

.pages .listlar li {
  list-style: none;
  margin: 1px 0;
  width: 120px;
}

.pages .listlar li:hover {
  background: #edf5ff;
}

.pages .listlar li a {
  text-decoration: none;
  padding: 10px;
  width: 100%;
}
/*# sourceMappingURL=news.css.map */